<!DOCTYPE html>

{% load static %}

<html lang="en">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href = "https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery-1.12.1.js"></script>
    <script src = "https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<head>
    <meta charset="UTF-8">
    <title>TheApp -
        {% block title_block %}
            TheApp
        {% endblock %}
    </title>
</head>
<body>

<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/topnav.css' %}">
<link rel="stylesheet" href="{% static 'css/css_setting.css' %}">
    <div class="sidenav" id="sidemenu">

</div>
    <div class="main">
        <script src="{% static "js/profile-ajax.js" %}"></script>
        <script src="{% static "js/queryset-ajax.js" %}"></script>
        <script src="{% static "js/sidebar.js" %}"></script>
        <script src="{% static "js/topbar.js" %}"></script>
        <script src="{% static "js/GetCartTotal.js" %}"></script>

<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>

  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>
        <p>
            <span id="cartTotal" style="white-space: nowrap"></span> items in the shopping cart
            <a id="editcart"  class="btn btn-primary btn-sm" ><button id="editcartbutton" disabled >edit shopping cart</button></a>
            {% if user.is_authenticated %}
                {{ user.username }}
            {% else %}
                anonymous
            {% endif %}
        </p>

    <div>
                        <p><a >{{ config.detail }}</a></p>
    </div>

        {% block body_block %}

        {% endblock %}
    </div>

    <hr />
    <div>

    </div>
</body>
</html>