<!DOCTYPE html>

{% load static %}

<html lang="en">

    <link href = "https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery-1.12.1.js"></script>
    <script src = "https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<head>
    <meta charset="UTF-8">
    <title>TheApp -
        {% block title_block %}
            TheApp
        {% endblock %}
    </title>

</head>
<body>

<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/topnav.css' %}">
<link rel="stylesheet" href="{% static 'css/css_setting.css' %}">
    <div class="sidenav" id="sidemenu">

</div>
    <div class="main">
    <script>
              $(function() {
                $("#category").autocomplete({
                  source: "/TheApp/autocompleteCategory/",
                  select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                  },
                  minLength: 2,
                });
              });

              function AutoCompleteSelectHandler(event, ui)
              {
                var selectedObj = ui.item;
              }
    </script>

        <script src="{% static "js/category-ajax.js" %}"></script>
        <script src="{% static "js/profile-ajax.js" %}"></script>
        <script src="{% static "js/queryset-ajax.js" %}"></script>
        <script src="{% static "js/sidebar.js" %}"></script>
        <script src="{% static "js/topnav.js" %}"></script>
        <script src="{% static "js/GetCartTotal.js" %}"></script>

        <div class="topnav">
          <a class="active" href="#home">Home</a>
          <a href="#news">News</a>
          <a href="#contact">Contact</a>
          <a href="#about">About</a>
        </div>
        <p>
            <span id="cartTotal" style="white-space: nowrap"></span> items in the shopping cart
            <a id="editcart"  class="btn btn-primary btn-sm" ><button id="editcartbutton" disabled >edit shopping cart</button></a>
        </p>
 		<ul class="nav nav-list">
			<li class="nav-header">Find a Category</li>
            <div class="ui-widget">
              <label for="cates">categories: </label>
              <input id="categories" autocomplete="on">
              <label for="prof">profiles: </label>
              <input id="profiles">
            </div>
		</ul>

        {% if cat_list %}
		    <div id="cats">
			    {% include 'TheApp/category_list.html' with cat_list=cat_list %}
		    </div>
	    {% endif %}
	    {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
        {% else %}
        <h1>Rango says... hello world!</h1>
        {% endif %}
      <form id="search_categories_form_id" method="get" action="{% url 'TheApp:CategorySearchAndDisplay' %}">
            <div class="ui-widget">
              <label for="category">Category: </label>
              <input type="text" id="category" name="category"/>
              <input id="id_category_submit_button" type="submit" value="Search for categories"/>
            </div>
      </form>

        {% block body_block %}

        {% endblock %}
    </div>

    <hr />
    <div>

    </div>
</body>
</html>