{% extends 'TheApp/base.html' %}
{% load static %}

{% block title_block %}
    film  list
{% endblock %}

{% block body_block %}
    <table id="formset" class="form">
        {% for f in film_list %}
          {% if forloop.first %}
          <thead>
                <tr>
                    <th>Film Name</th>
                    <th>Film Genre</th>
                </tr>
          </thead>
          {% endif %}
             <tbody>
                <tr class="{% cycle row1 row2 row3 %}">

        <td >{{f.name}}</td>
        <td >{{f.genre}} </td>
                </tr>
        </tbody>
        {% endfor %}
    </table>

{% endblock %}