{% extends 'TheApp/base.html' %}
{% load static %}

{% block title_block %}
    Product list
{% endblock %}

{% block body_block %}
    {% for product in product_list %}
    <h2><a href="{% url 'TheApp:ProductStockPriceUpdate2' product.pk %}">{{ product.name }}</a></h2>

    {% endfor %}
    {# .... **Now the pagination section** .... #}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                 <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}