{% extends 'TheApp/base.html' %}
{% load static %}

{% block title_block %}
    Product list
{% endblock %}

{% block body_block %}
<script type="text/javascript" src="{% static 'js/AddToCart.js' %}"></script>

<table id="formset" class="form">
    {% for product in product_list %}
      {% if forloop.first %}
      <thead>
            <tr>
                <th>product</th>
                <th>Qty</th>
            </tr>
      </thead>
      {% endif %}
         <tbody>
            <tr class="{% cycle row1 row2 row3 %}">

    <td >{{ product.name }}</td>
    <td><input type="number" value="1" id="{{product.id}}"  style="width: 4em" min="1" step="1"/></td>
    <td ><button id="Add" class="AddToCart" data-prodid="{{product.id}}" class="btn btn-primary btn-sm" type="button">Add to Cart</button></td>
            </tr>
    </tbody>
    {% endfor %}
</table>

    {# .... **Now the pagination section** .... #}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                 <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}